@model List<GuildCarsModel.Model.VehicleDisplay>
@{
    ViewBag.Title = "AdminVehicles";
}
<div class="container" id="PageColor">
    <h2 id="HeaderAlign">Admin</h2>
    <div style="margin-bottom:10px;">
        @Html.ActionLink("Add Vehicle", "AddVehicle", null, new { @class = "btn btn-primary" })
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12" style="border:2px solid #333;"margin-bottom:10px">
                
                <div class="row" >
                    
                    <div class="col-xs-12" style="margin:5px 10px 20px 10px">
                        <form class="form-inline">
                            <div class="col-xs-3">
                                <label for="search-term">Search Results</label>
                                <input type="text" class="form-control" id="search-term" placeholder="Enter make, model, or year">
                            </div>
                            <div class="col-xs-3">
                                <label>Price</label>
                                <select id="price-min" class="form-control">
                                    <option value="0">No Min</option>
                                    @for (int i = 5000; i <= 50000; i += 5000)
                                    {
                                        <option value="@i">$@i</option>
                                    }
                                </select>
                                <select id="price-max" class="form-control">
                                    <option value="0">No Max</option>
                                    @for (int i = 5000; i <= 50000; i += 5000)
                                    {
                                        <option value="@i">$@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label>Year</label>
                                <select id="year-min" class="form-control">
                                    <option value="0">No Min</option>
                                    @for (int i = 2000; i <= DateTime.Now.Year; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                <select id="year-max" class="form-control">
                                    <option value="0">No Max</option>
                                    @for (int i = 2000; i <= DateTime.Now.Year; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <button type="button" class="btn btn-default" id="btnSearch">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="search-results">
            @***************************************************@
            @*row 1*@
            <h3 id="HeaderAlign">Search Results</h3>
            @foreach (var vehicle in Model)
            {
                <div class="row" id="TableBorder">
                    <div class="col-md-3">
                        <p>@vehicle.MakeType  @vehicle.ModelType @vehicle.Year </p>

                        @{
                            var path = Path.Combine(Server.MapPath("~/Images"), "inventory-" + vehicle.VehicleID.ToString() + ".png");
                            if (System.IO.File.Exists(path))
                            {
                                <p><img src="~/Images/inventory-@(vehicle.VehicleID).png" style="height: 80px; margin: 15px auto;border-radius:5px" /></p>
                            }
                            else
                            {
                                <p><img src="~/Images/car-image.png" style="height: 80px; margin: 15px auto;border-radius:5px" /></p>
                            }
                        }
                    </div>
                    <div class="col-md-3">
                        <p>Body Style:@vehicle.BodyStyleType</p>
                        <p>Trans:@vehicle.TransmissionType</p>
                        <p>Color:@vehicle.CarColor</p>
                    </div>
                    <div class="col-md-3">
                        <p>Interior:@vehicle.InteriorColor</p>
                        <p>Mileage:@vehicle.Mileage</p>
                        <p>VIN:@vehicle.VIN</p>
                    </div>
                    <div class="col-md-3">
                        <p>Sale Price:@vehicle.SalePrice</p>
                        <p>MSRP:@vehicle.MSRP</p>
                        @Html.ActionLink("Edit","EditVehicle", new {id = vehicle.VehicleID }, new {@class = "form control btn btn-primary" })
                    </div>
                </div>
            }
            @***************************************************@
        </div>
    </div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#btnSearch").click(SearchVehicles);
            });

            function checkIfFileLoaded(fileName) {
                $.get(fileName, function (data, textStatus) {
                    if (textStatus == "success") {
                        return true;
                        console.log("file loaded!");
                    } else
                    {
                        return false;
                    }
                });
            }
            


            function SearchVehicles() {
                var searchTerm = $("#search-term").val(),
                    minPrice = parseInt($("#price-min").val()),
                    maxPrice = parseInt($("#price-max").val()),
                    minYear = parseInt($("#year-min").val()),
                    maxYear = parseInt($("#year-max").val()),
                    searchResults = $("#search-results");
                if (!searchTerm) {
                    searchTerm = "nosearchterm";
                }
                var searchUrl = "http://localhost:65000/api/search/" + searchTerm +
                    "/minPrice=" + minPrice +
                    "/maxPrice=" + maxPrice +
                    "/minYear=" + minYear +
                    "/maxYear=" + maxYear
                $.ajax({
                    type: "GET",
                    url: searchUrl,
                    success: function (vArray) {
                        searchResults.empty();
                        if (vArray.length === 0) {
                            searchResults.html("<h2>No results for your search!</h2>");
                            return;
                        }
                        $.each(vArray, function (index, vehicle) {
                            //var fileExists = checkIfFileLoaded("/Images/inventory-' + vehicle.VehicleID + '.png");
                            var result = '<div class="row" id="TableBorder">' +
                                '<div class="col-md-3">' +
                                '<p>' + vehicle.MakeType + ' ' + vehicle.ModelType + ' ' + vehicle.Year + '</p>' +
                              
                                '<p><img src="/Images/inventory-' + vehicle.VehicleID + '.png" style="height: 80px; margin: 15px auto;"></p>' +
                                '</div>' +
                                '<div class="col-md-3">' +
                                '<p>Body Style:' + vehicle.BodyStyleType + '</p>' +
                                '<p>Trans:' + vehicle.TransmissionType + '</p>' +
                                '<p>Color:' + vehicle.CarColor + '</p>' +
                                '</div>' +
                                '<div class="col-md-3">' +
                                '<p>Interior:' + vehicle.InteriorColor + '</p>' +
                                '<p>Mileage:' + vehicle.Mileage + '</p>' +
                                '<p>VIN:' + vehicle.VIN + '</p>' +
                                '</div>' +
                                '<div class="col-md-3">' +
                                '<p>Sale Price:' + vehicle.SalePrice + '</p>' +
                                '<p>MSRP:' + vehicle.MSRP + '</p>' +
                                '<form action="/Inventory/Details/' + vehicle.VehicleID + '" method="post">' +
                                '<a class="form control btn btn-primary" href="/Admin/EditVehicle/'+vehicle.VehicleID+'">Edit</a>'+
                              
                                '</form>' +
                                '</div>' +
                                '</div>'
                            searchResults.prepend(result);
                        });
                    },
                    error: function () {
                        alert("Vehicle search is unavailable at this time.");
                    }
                });
            }
        </script>
    }
</div>
